n8n_workflow.json
{
    "name": "Auto-Post AI Listings",
    "settings": {},
    "nodes": [
        {
            "parameters": {
                "path": "auto-generate-listing",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "jsCode": "return [\n  {\n    json: {\n      title: 'AI Tool ' + Math.floor(Math.random() * 1000),\n      description: 'An amazing AI tool generated automatically',\n      longDescription: 'This tool uses advanced algorithms to do something incredible. generated by n8n.',\n      category: 'productivity',\n      tags: ['ai', 'automation', 'generated'],\n      website: 'https://example.com/ai-tool',\n      pricing: 'Freemium',\n      image: 'https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&w=800',\n      featured: false,\n      rating: 4.5,\n      reviews: 10,\n      dateAdded: new Date().toISOString().split('T')[0]\n    }\n  }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                250,
                0
            ],
            "id": "generate-mock-data",
            "name": "Generate Mock Data"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/api/listings",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                500,
                0
            ],
            "id": "post-to-api",
            "name": "Post to Backend"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Generate Mock Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Mock Data": {
            "main": [
                [
                    {
                        "node": "Post to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}